<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roomdbwithkotlin">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:name=".application.QuoteApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDbWithKotlin">
        <activity
            android:name=".timer.CountDownTimerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".speechregonizer.SpeechRegonizer"
            android:exported="true">

        </activity>
        <activity
            android:name=".wifi.WifiActivity"
            android:exported="true" />
        <activity
            android:name=".bluethooth.BluetoothActivity"
            android:exported="true" />
        <activity
            android:name=".internalstorge.InternalActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.WorkerActvity"
            android:exported="false" />
        <activity
            android:name=".recycleview.MutiViewRecyclerView"
            android:exported="true" />
        <activity
            android:name=".firebase.storage.ImageUploadActivity"
            android:exported="true" />
        <activity
            android:name=".firebase.crashlytics.CrstlayticsActivity"
            android:exported="true" />
        <activity
            android:name=".contentprovider.ContentProvidersActivity"
            android:exported="true" />
        <activity
            android:name=".permissions.PermissionActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".firebase.firestore.ActivityInsertData"
            android:exported="true" />
        <activity
            android:name=".alrammanager.AlarmActvity"
            android:exported="true" />
        <activity
            android:name=".lanchmode.ThirdActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".lanchmode.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".lanchmode.FirstActvity"
            android:exported="false" />
        <activity
            android:name=".services.ServiceAcivity"
            android:exported="false" />
        <activity
            android:name=".lifecycles.LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".broadcastreciver.BroadcastActivity"
            android:exported="true" />
        <activity
            android:name=".viewmodel.RecyclerViewWithDataBinding"
            android:exported="false" />
        <activity
            android:name=".viewmodel.DataBindingActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.AboutFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.ApiActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.AlldataShowActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <receiver android:name=".alrammanager.AlarmRecevier" />
    </application>

</manifest>